.page-user {
  h1#title {
    margin-top: 0;
    font-size: 24px;
    line-height: 24px;
  }

  .tabs--primary {
    display: none;
  }

  .l-content {
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
    background: white;
    padding: 25px;
    margin-top: 70px;
    margin-bottom: 250px;
  }
}

@include respond-to(mobile) {
  .page-user {
    .l-content {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background: white;
      padding: 25px;
    }
  }
}
