body.page-user-edit {
  form {
    #edit-account {
      .help-block {
        float: none;
      }

      .form-type-password {
        width: 100%;
      }
    }

    .form-actions {
      margin-top: 50px;
    }

    .form-submit, .help-block {
      float: right;
      a {
        color: black;
      }
    }
  }
}
