body.node-type-page-group {
    .l-page {
        .breadcrumb-container {
            margin-bottom: 0;
        }

        .tabs--primary {
            display: none;
        }

        .l-main {
            width: 100%;
            max-width: 100%;
            padding: 0;
            background-image: url('../assets/img/hero_group.png');
            background-repeat: no-repeat;
            background-position: center top;
            margin-bottom: 0;

            .l-content {
                position: relative;

                article.node-page-group {
                    .field-name-field-page-title {
                        text-align: center;
                        max-width: 1140px;
                        height: 210px;
                        padding-left: 195px;
                        padding-right: 195px;
                        box-sizing: border-box;
                        margin: auto;
                        margin-top: 340px;
                        background-color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .field-name-field-body {
                        background-color: white;
                        padding-bottom: 60px;
                        .field-items {
                            width: 750px;
                            margin: auto
                        }
                    }

                    .group-history {
                        width: 750px;
                        margin: auto;
                        margin-top: 70px;

                        h2 {
                            text-align: center;
                        }

                        .field-name-field-history-description {
                            margin-top: 40px;
                            margin-bottom: 40px;
                        }
                    }

                    .field-name-field-additional-body {
                        background-color: white;
                        padding-top: 60px;
                        padding-bottom: 60px;

                        .field-items {
                            width: 750px;
                            margin: auto
                        }
                    }

                    .group-chronology {
                        .field-name-field-chronology-items-group,
                        .field-name-field-chronology-items {
                            & > .field-items {
                                @include transition(all 800ms ease-in);
                                overflow: hidden;
                                max-height: 0px;
                                position: relative;

                                &.on {
                                    max-height: 99999px;

                                    &:after {
                                        opacity: 0;
                                    }
                                }

                                &:after {
                                    @include transition(opacity 200ms);
                                    content: " ";
                                    opacity: 1;
                                    position: absolute;
                                    bottom: 0;
                                    height: 80px;
                                    width: 100%;
                                    // Gradient section
                                    background: rgba(247,247,247,0);
                                    background: -moz-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                                    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,247,247,0)), color-stop(100%, rgba(247,247,247,1)));
                                    background: -webkit-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                                    background: -o-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                                    background: -ms-linear-gradient(top, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                                    background: linear-gradient(to bottom, rgba(247,247,247,0) 0%, rgba(247,247,247,1) 100%);
                                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f7', endColorstr='#f7f7f7', GradientType=0 );
                                }
                            }
                        }
                    }

                    .group-governance {
                        background-color: white;
                        padding-top: 40px;
                        padding-bottom: 40px;

                        .governance-title {
                            max-width: 1180px;
                            padding-left: 20px;
                            padding-right: 20px;
                            margin: auto;
                            text-align: center;

                            h2 {
                                font-size: 30px;
                            }
                        }

                        .field-name-field-governance-title,
                        .field-name-field-administration-board-title,
                        .field-name-field-executive-commitee-title,
                        .field-name-field-direction-title {
                            position: relative;
                            text-align: center;
                            max-width: 1180px;
                            padding-left: 20px;
                            padding-right: 20px;
                            margin: auto;
                            margin-top: 40px;
                            margin-bottom: 20px;

                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                width: 100%;
                                height: 1px;
                                top: 50%;
                                background-color: $orange;
                            }

                            h2 {
                                position: relative;
                                display: inline-block;
                                background-color: white;
                                z-index: 1;
                                padding-right: 20px;
                                padding-left: 20px;
                            }
                        }

                        .field-name-field-president, .field-name-field-administration-board, .field-name-field-executive-committee, .field-name-field-direction-members {
                            max-width: 1140px;
                            margin: auto;
                            text-align: center;
                            & > .field-items > .field-item {
                                margin-left: 1%;
                                margin-right: 1%;
                                width: 18%;
                                background-color: $lightGrey;
                                display: inline-block;
                                vertical-align: top;
                                padding-left: 10px;
                                padding-right: 10px;
                                padding-bottom: 10px;
                                box-sizing: border-box;
                                margin-top: 60px;

                                .field-name-field-member-photo {
                                    text-align: center;
                                    margin-top: -60px;
                                    img {
                                        width: 120px;
                                        height: 120px;
                                        border-radius: 50%;
                                        display: inline-block;
                                    }
                                }

                                .field-name-field-member-name {
                                    font-family: Raleway;
                                    font-size: 18px;
                                    font-weight: bold;
                                    color: $orange;
                                }

                                .field-name-field-member-position {
                                    font-size: 18px;
                                    text-transform: uppercase;
                                    margin-top: 10px;
                                    font-weight: bold;
                                }

                                .field-name-field-member-description {
                                    margin-top: 10px;
                                }
                            }
                        }

                        .field-name-field-president {
                            & > .field-items > .field-item {
                                margin: auto;
                                margin-top: 100px;
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(tablet) {
    body.node-type-page-group {
        .l-page {

            .l-main {
                background-size: 100% auto;
                .l-content {
                    article.node-page-group {
                        .field-name-field-page-title {
                            margin-top: 41.6vw;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        .field-name-field-body {
                            .field-items {
                                width: 100%;
                                box-sizing: border-box;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }

                        .group-history {
                            box-sizing: border-box;
                            width: 100%;
                            padding-left: 15px;
                            padding-right: 15px;
                        }

                        .field-name-field-additional-body {
                            .field-items {
                                width: 100%;
                                box-sizing: border-box;
                                padding-left: 15px;
                                padding-right: 15px;
                            }
                        }

                        .group-governance {
                            .field-name-field-governance-title,
                            .field-name-field-administration-board-title,
                            .field-name-field-executive-commitee-title,
                            .field-name-field-direction-title {
                                width: 100%;
                                padding-left: 15px;
                                padding-right: 15px;
                            }

                            .field-name-field-president, .field-name-field-administration-board, .field-name-field-executive-committee, .field-name-field-direction-members {
                                max-width: 1140px;
                                margin: auto;
                                text-align: center;
                                & > .field-items > .field-item {
                                    width: 300px;
                                    margin: auto;
                                }
                            }

                            .field-name-field-president {
                                & > .field-items > .field-item {
                                    margin: auto;
                                    margin-top: 100px;
                                }
                            }

                            .field-name-field-administration-board, .field-name-field-executive-committee, .field-name-field-direction-members {
                                & > .field-items {
                                    & > .field-item {
                                        margin-top: 100px;
                                        margin-left: 10px;
                                        margin-right: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(mobile) {
    body.node-type-page-group {
        .l-page {
            .l-main {
                margin: 0;

                .l-content {
                    article.node-page-group {
                        .field-name-field-page-title {
                            height: auto;
                            padding-top: 10px;
                            padding-bottom: 10px
                        }

                        .field-name-field-body {
                            padding-bottom: 30px;

                            .field-items {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }

                        .group-history {
                            margin-top: 30px;
                            padding-left: 10px;
                            padding-right: 10px;
                        }

                        .field-name-field-additional-body {
                            padding-top: 30px;
                            padding-bottom: 30px;

                            .field-items {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                        }

                    }
                }
            }
        }
    }
}
