body.page-contact {
    
    .l-main {
        margin-bottom: 50px;
    }
    
    form {
        
        .form-group {
            
            .form-item-email {
                
                width: 50%;
                display: inline-block;
                vertical-align: middle;
                padding-right: 15px;
            }
            
            .form-item-recipient {
                
                width: 50%;
                display: inline-block;
                vertical-align: middle;
                padding-left: 15px;
            }
            
            button.form-submit {
                float: right;
            }
        }
    }
}

@include respond-to(mobile) {
    body.page-contact {
    
        form {

            .form-group {

                .form-item-email {

                    width: 100%;
                    padding: 0;
                }

                .form-item-recipient {

                    width: 100%;
                    padding: 0;
                }

                button.form-submit {
                    float: none;
                }
            }
        }
    }
}