body.node-type-page-go-on {
    div.l-page {
        background-image: url('../assets/img/bg-intro-goon.jpg');
        background-repeat: no-repeat;
        background-position: center top;
        background-size: auto 100%;
        background-attachment: fixed;

        @include respond-to(mobile) {
            background-size: auto 85%;
            background-position: center top;
        }

        div.breadcrumb-container {
            border-bottom: none;
            background: rgba(255,255,255,0.7);
        }

        div.l-main {
            width: 100%;
            padding: 0;
            margin: 0;

            article {
                div.field-name-field-page-title {
                    padding: 190px 0 0 0;
                    background-image: url('../assets/img/go-on.png');
                    background-position: top 80px center;
                    background-repeat: no-repeat;
                    background-size: 200px;

                    @include respond-to(tablet) {
                        padding: 160px 0 0 0;
                    }

                    div.field-items {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 0 30px;

                        @include respond-to(small) {
                            width: 100%;
                        }

                        div.field-item {
                            p {
                                color: white;
                                text-align: center;
                            }
                        }
                    }
                }
                div.link-wrapper {
                    margin-top: 30px;
                    padding-bottom: 160px;

                    @include respond-to(tablet) {
                        padding-bottom: 80px;
                    }

                    a {
                        display: block;
                        margin: 0 auto;
                        background-color: $orange;
                        background-image:url('../assets/pictos/arrow_white.svg');
                        color: white;
                        &:hover {
                            background-color: $darkOrange;
                        }
                    }
                }
                div.field-name-field-body {
                    background: white;

                    div.field-items {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 60px 30px;

                        @include respond-to(small) {
                            width: 100%;
                        }
                    }
                }
                div.field-name-field-pictures {
                    width: 100%;
                    background: white;

                    div.field-items {
                        width: 1200px;
                        margin: 0 auto;
                        padding: 30px;

                        // display: flex;
                        // flex-wrap: wrap;
                        // justify-content: space-between;

                        @include respond-to(small) {
                            width: 100%;
                        }

                        &:after {
                            display: table;
                            content: " ";
                            clear: both;
                        }

                        div.field-item {
                            float: left;
                            width: 360px;
                            height: 240px;
                            overflow: hidden;
                            display: flex;
                            justify-content: center;

                            background: $lightGrey;

                            margin-left: 30px;

                            &:first-child {
                                width: 750px;
                                height: 500px;
                                margin-left: 0;
                            }

                            @include respond-to(small) {
                                margin-top: 25px;
                                width: 100%;
                                height: auto;
                                margin-left: 0;
                                display: block;

                                &:first-child {
                                    margin-top: 0;
                                    width: 100%;
                                    height: auto;
                                }

                                img.img-responsive {
                                    width: 100% !important;
                                    max-height: none !important;
                                }
                            }

                            &:nth-child(n+3) {
                                margin-top: 20px;
                            }

                            &:nth-child(3n+4) {
                                margin-left: 0;
                            }

                            img.img-responsive {
                                max-width: none;
                                width: auto;
                                max-height: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
