header.l-header {
    background-color: white;
    height: 90px;

    .l-header-inner {
        max-width: 1200px;
        padding-left: 30px;
        padding-right: 30px;
        height: 100%;
        margin: auto;
        position: relative;

        .l-branding {
            height: 100%;
            width: 60px;
            position: relative;
            z-index: 2;
            display: inline-block;

            a.site-logo {
                display: inline-block;
                img {
                    margin-top: 10px;
                    height: 70px;
                    width: 120px;

                    @include respond-to(small) {
                        width: 100%;
                    }
                }
            }
        }

        .header-menus {
            position: absolute;
            z-index: 1;
            right: 0;
            top: 0;
            height: 100%;

            .burger-icon {
                display: none;
            }

            .block-menu {
                display: block;
                margin-top: 30px;

                ul.menu {
                    li {
                        display: inline-block;

                        a {
                            display: block;
                            text-decoration: none;
                            line-height: 10px;
                            padding-left: 1px;
                            padding-right: 1px;
                            margin-left: 7px;
                            margin-right: 7px;
                            font-size: 16px;
                            color: black;
                            text-decoration: none;

                            &:hover {
                                color: $grey;
                            }
                            &.active {
                                border-bottom: 4px solid $orange;
                            }
                        }
                    }
                }
            }

            #block-system-main-menu {
                display: inline-block;

                ul.menu {
                    li.my-space, li.my-profile {
                        display: none;
                    }
                }
            }

            #block-locale-language {
                position: relative;
                display: inline-block;
                margin-top: 30px;

                .current-lang {
                    cursor: pointer;
                    font-size: 16px;
                    text-decoration: none;
                    color: $orange;
                    margin-left: 15px;
                    margin-right: 15px;
                    &:after {
                        content: '\f107';
                        display: inline-block;
                        font-family: fontawesome;
                        padding-left: 5px;
                    }
                }
                &.open {
                    .language-switcher-locale-url {
                        display: block;
                    }
                    .current-lang {
                        color: $orange;

                        &:after {
                            content: '\f106';
                        }
                    }
                }

                .language-switcher-locale-url {
                    background-color: white;
                    z-index: 1;
                    display: none;
                    position: absolute;
                    top: 30px;
                    right: 10px;
                    list-style: none;
                    padding: 0px;
                    margin: 0px;

                    li {
                        margin: 0px;
                        a {
                            display: block;
                            padding: 7px 18px;
                            font-size: 16px;
                            text-decoration: none;
                            color: $orange;

                            &:hover {
                                background-color: $orange;
                                color: white;
                            }
                        }

                    }
                    .active {
                        display: none;
                    }
                }
            }

            #block-menu-menu-main-private-menu {
                .menu {
                    a {
                        color: white;
                        &:hover {
                            color: $grey;
                        }
                        &.active {
                            border-bottom: 4px solid $orange;
                        }
                    }
                }
            }
        }
    }
}

body.my-space {
    header.l-header {
        background-color: $darkGrey;
    }
}

body.admin {
    header.l-header {
        .l-header-inner {
            .header-menus {
                #block-system-main-menu {
                    ul.menu {
                        li.manage {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

body.supplier {
    header.l-header {
        .l-header-inner {
            .header-menus {
                #block-system-main-menu {
                    ul.menu {
                        li.my-profile {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

body.invite,
body.internal {
    header.l-header {
        .l-header-inner {
            .header-menus {
                #block-system-main-menu {
                    ul.menu {
                        li.my-space {
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}

@include respond-to(small) {
    body {
        &.front {
            header.l-header {
                .l-header-inner {
                    .header-menus {
                        .burger-icon {
                            .bar {
                                background: white;
                            }
                        }
                        .region-header {
                            background: $blue;
                        }
                    }
                }
            }
        }
        &.not-front.my-space {
            header.l-header {
                .l-header-inner {
                    .header-menus {
                        .block-menu {
                            margin-top: 0;
                            padding-top: 50px;
                        }
                        .burger-icon {
                            .bar {
                                background: white;
                            }
                        }
                    }
                    .region-header {
                        background: $blue;
                    }
                }
            }
        }
        &.not-front {
            header.l-header {
                .l-header-inner {
                    .header-menus {
                        .burger-icon {
                            .bar {
                                background: black;
                            }
                        }
                    }
                }
            }
        }

        header.l-header {
            height: 50px;

            .l-header-inner {
                padding-left: 10px;
                padding-right: 10px;
                .l-branding {
                    margin-top: 0;
                    a.site-logo img {
                        height: 40px;
                        margin-top: 5px;
                    }
                }
                .header-menus {
                    width: 100%;
                    .region-header {
                        @include transition(all 500ms);
                        position: absolute;
                        width: 100%;
                        z-index: 1000;
                        padding: 0 30px 30px 30px;
                        border-bottom: solid 3px $orange;
                        box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
                        background: white;
                        transform: translate3d(0, -500%, 0);
                        #block-system-main-menu ul.menu, #block-menu-menu-main-private-menu ul.menu {
                            margin-top: 0;
                            li {
                                display: block;

                                &.manage {
                                    display: none;
                                }

                                a {
                                    // color: black !important;
                                    line-height: 30px;
                                    padding: 10px 1px;
                                    margin: 0 14px;
                                    display: inline-block;
                                    &:hover {color: $grey;}
                                }
                            }

                        }
                        &.on {transform: translate3d(0,0,0);}

                        #block-system-main-menu, #block-locale-language, #block-menu-menu-main-private-menu {
                            margin-top: 75px;
                            .contextual-links-wrapper {display:none !important;}
                        }

                        #block-locale-language {
                            position: absolute;
                            top: 15px;
                            right: 50px;
                            ul.language-switcher-locale-url {
                                top: 30px;
                            }
                            .contextual-links-wrapper {display:none !important;}
                        }
                    }
                    .burger-icon {
                        @include transition(all 500ms);
                        display: block;
                        position: absolute;
                        z-index: 1001;
                        width: 30px;
                        height: 30px;
                        top: 15px;
                        right: 15px;
                        .bar {
                            @include transition(all 500ms);
                            width: 100%;
                            height: 1px;
                            margin-bottom: 8px;
                        }
                        &.cross {
                            // .bar {background: black !important;}
                            .top-bun {transform: translate3d(0,9px,0) rotate(45deg);}
                            .meat {opacity: 0;}
                            .bot-bun {transform: translate3d(0,-9px,0) rotate(-45deg);}
                        }
                    }
                }
            }
        }
    }
}
