.l-main {
  width: 1200px;
  margin: auto;
  margin-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

@include respond-to(small) {
  .l-main {
    width: 100%;
  }
}

@include respond-to(tablet) {
  .l-main {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@include respond-to(mobile) {
  .l-main {
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }
}