.node-ally.node-teaser {
  box-sizing: border-box;
  height: 220px;

  div {
    height: 100%;

    &.field-item {
      display: flex;
      align-items: center;
      justify-content: center;

      a img {
        @include transition(all 200ms ease-in);
        filter: grayscale(100%);
        filter: gray;

        &:hover {
          filter: none;
        }
      }
    }
  }
}


@include respond-to(mobile) {
  .node-ally.node-teaser {
    div {
      &.field-item {
        a img {
          filter: none;
        }
      }
    }
  }
}
