.node-product.node-teaser {
  width: 230px;
  height: 280px;
  background-color: white;

  .field-name-field-product-image {
    height: 180px;
    display: table;
    width: 100%;
    .field-items {
      display: table-row-group;
      .field-item {
        display: table-row;
        a {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          img {
            margin: auto;
          }
        }
      }
    }
  }

  .field-name-title-field {
    font-size: 15px;
    letter-spacing: 0.8px;
    padding: 15px 15px 0px 15px;
    line-height: 18px;
    height: 54px;
    overflow: hidden;

    a {
      color: black;
      display: block;
      text-decoration: none;
    }
  }

  .field-name-field-product-fob-price {
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;

    .field-label {
      font-weight: normal;
    }

    .field-items {
      float: right;
      font-weight: bold;
      color: $orange;
    }
  }

  footer {
    display: none;
  }
}

.node-readmore {
  display: none;
}
