.node-steps.node-teaser {
    background-color: white;
    border-bottom: 3px solid $orange;
    padding: 30px;
    background-position: 30px 35px;
    background-size: 45px 45px;
    background-repeat: no-repeat;

    &.import {
        &.step-1 {
            background-image: url('../assets/pictos/steps/import-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/import-step2.svg');
        }
        &.step-3 {
            background-image: url('../assets/pictos/steps/import-step3.svg');
        }
        &.step-4 {
            background-image: url('../assets/pictos/steps/import-step4.svg');
        }
        &.step-5 {
            background-image: url('../assets/pictos/steps/import-step5.svg');
        }
        &.step-6 {
            background-image: url('../assets/pictos/steps/import-step6.svg');
        }
        &.step-7 {
            background-image: url('../assets/pictos/steps/import-step7.svg');
        }
    }

    &.international {
        &.step-1 {
            background-image: url('../assets/pictos/steps/international-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/international-step2.svg');
        }
        &.step-3 {
            background-image: url('../assets/pictos/steps/international-step3.svg');
        }
    }

    &.international-portal {
        &.step-1 {
            background-image: url('../assets/pictos/steps/international-portal-step1.svg');
        }
        &.step-2 {
            background-image: url('../assets/pictos/steps/international-portal-step2.svg');
        }

        a.arrow {
            &:nth-last-child(2) {
                float: right !important;
            }
        }
    }

    .step-index {
        font-size: 16px;
        margin-left: 60px;
        margin-top: 5px;
    }

    .field-name-title-field {
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 20px;
        margin-left: 60px;
        line-height: 1em;
        min-height: 50px;
    }

    a {
        margin-top: 5px;
        margin-right: 10px;
    }
    footer .links {
       display: none;
    }
}
