body.page-my-space-newsletters {

  .view-newsletters.view-display-id-page {
    
      .views-row:first-child .node-newsletter {
            border-top: 1px solid #798588;
      }
      
      .node-newsletter {
            padding: 10px;
            border-bottom: 1px solid #798588;
            color: $grey;
            
            .field-name-title-field {
                font-family: Raleway;
                font-size: 18px;
                line-height: 20px;
                font-weight: 800;
            }
            
            .field-name-field-url {
                .field-item {
                    position: relative;
                    
                    & > a {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        margin-top: -15px;
                        margin-right: 15px;
                        display: block;
                        background-image: url("../assets/pictos/external-link.svg");
                        background-size: auto 100%;
                        background-position: center right;
                        background-repeat: no-repeat;
                        height: 30px;
                        min-width: 30px;
                        color: transparent;
                    }
                }
            }
            
            .field-name-field-date {
                text-transform: uppercase;
            }
            
            footer {
                display: none;
            }
      }
  }
}
