body.page-my-space-suppliers-directory:not(.page-my-space-suppliers-directory-) {
    div.l-content {
        display: flex;
        flex-wrap: wrap;

        h1#title {
            width: 100%;
        }

        div.region-content {
            flex-grow: 2;
            margin-left: 60px;
            max-width: 750px;
            position: relative;

            @include respond-to(small) {
                max-width: 100%;
                padding: 0 30px;
                margin: 0;
            }

            section#block-arena-search-api-suppliers-expose-filter-sort-by {
                position: absolute;
                right: 0;
                z-index: 1000;

                @include respond-to(small) {
                    right: 30px;
                }

                div div.item-list {
                    &.on {
                        h3::after {
                            transform: rotate(180deg);
                        }
                        ul.items-sort-by {
                            display: block;
                        }
                    }
                    h3 {
                        padding-right: 20px;
                        cursor: pointer;

                        &:after {
                            @include transition(all 500ms);
                            @include fa();
                            content: "\f078";
                            font-size: 14px;
                            position: absolute;
                            top: 2px;
                            right: 0;
                        }
                    }
                    ul.items-sort-by {
                        background: white;
                        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.15);
                        margin-top: 10px;
                        display: none;

                        li {
                            @include transition(all 200ms);
                            border-bottom: 1px solid $lightGrey;

                            &:hover {
                                background-color: $lightGrey;
                            }
                            a {
                                display: block;
                                padding: 10px;
                                color: $darkGrey;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            #block-system-main {
                margin-top: 30px;

                @include respond-to(small) {
                    margin-top: 10px;
                }
            }
        }

        div.region-sidebar-first {
            max-width: 330px;
            border: none;
            padding: 0;
            box-shadow: 0;

            @include respond-to(small) {
                min-width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                box-shadow: none;
                padding: 30px;
                margin: 0;

                .block-facetapi {
                    min-width: 48%;
                    margin-bottom: 0 !important;
                }
            }

            @include respond-to(mobile) {
                section {
                    min-width: 100%;
                }
            }

            .block-facetapi {
                background-color: white;
                margin-bottom: 20px;

                h2 {
                    border-bottom: 1px solid $lightGrey;
                    padding: 15px;
                }

                ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                    padding: 15px;

                    a {
                        color: black;

                        &.facetapi-active {
                            color: $orange;
                        }
                    }

                    li {
                        & > ul {
                            display: none;
                            padding-left: 15px;
                        }

                        a {
                            display: block;
                            position: relative;
                            padding-top: 1px;
                            padding-bottom: 1px;

                            .chevron {
                                position: absolute;
                                right: 0;
                            }

                            &.facetapi-active {
                                display: block !important;

                                & + ul {
                                    display: block;
                                }

                                .chevron {
                                    transform: rotate(90deg);
                                }
                            }
                        }
                    }
                }

                ul.facetapi-facetapi-checkbox-links {
                    li {
                        input.facetapi-checkbox {
                            float: right;
                        }

                        a .chevron {
                            display: none;
                        }
                    }
                }

                ul.facetapi-facet-field-product-subfamilies > li > ul > li > ul > li > ul {
                    display: none !important;
                }
            }
        }
    }
}

@include respond-to(small) {
    body.page-my-space-suppliers-directory:not(.page-my-space-suppliers-directory-) {
        .l-content {
            .region-sidebar-first {
                .block-facetapi {
                    h2 {
                        font-size: 22px;
                    }
                    ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                        display: none;
                    }
                    &.active {
                        ul.facetapi-facetapi-links, ul.facetapi-facetapi-checkbox-links {
                            display: block;
                            position: absolute;
                            z-index: 1001;
                            width: 100%;
                            background-color: white;
                            top: 58px;
                            left: 0;
                            @include respond-to(small) {
                                box-shadow: 0px 0px 3px rgba(0,0,0,0.08);
                            }
                        }
                    }
                }
            }
        }
    }
}
