body.page-my-space {
  .l-content {
    position: relative;

    h2 {
      font-weight: 800;
      letter-spacing: 0px;
    }

    #block-system-main {

      a.arrow.edit-account {
        position: absolute;
        top: 0;
        right: 0;
      }

      .push {
        float: left;
        background-color: white;
        width: calc((100% - 41px) / 3);
        border-bottom: 4px solid #DD5533;
        margin-bottom: 50px;
        min-height: 285px;

        &.process {
          width: calc((100% - 20px) / 2);

          &.process_import {
            margin-left: 20px;
          }
        }

        h2 {
          padding: 30px;
          border-bottom: 1px solid $lightGrey;
        }

        .push-content {
          padding: 30px;

          a.arrow {
            margin-top: 30px;
          }
        }

        &.suppliers {
          margin-right: 20px;
        }

        &.catalog {
          margin-right: 20px;
        }
      }
    }
  }

}


@include respond-to(tablet) {
  body.page-my-space {
    .l-content {

      #block-system-main {

        a.arrow.edit-account {
          position: static;
          margin-bottom: 10px;
        }

        .push {
          float: none;
          width: 100% !important;
          margin-left: 0px !important;
          margin-right: 0px !important;
          margin-bottom: 10px;
          margin-left: 0px;
          min-height: 200px;

          h2 {
            padding: 20px;
          }
          .push-content {
            a.arrow {
              margin-top: 10px;
            }
          }
        }
      }
    }
  }
}
