body.page-supplier {

    #block-system-main {
        margin-top: 60px;
    }

    h1#title {
        display: none;
    }
    .supplier-bar {
        float: left;
        width: 330px;
        border: 0;
        border-radius: 0;
        background-color: transparent;

        &.panel, .panel {
            box-shadow: none;
        }

        div.panel-body {
            padding: 0;
        }

        .supplier-tabs {
            border: none;
            border-radius: 0;
            margin: 0;

            legend {
                background-color: white;
                padding: 25px 30px;
                font-weight: bold;
                font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;
                font-weight: 800;
                border-bottom: 2px solid $lightGrey;
            }

            div.panel-body {
                padding: 30px;

                a {
                    display: block;
                    position: relative;
                    color: black;
                    text-decoration: none;
                    margin: 5px 0;

                    &:hover {
                        color: $mediumGrey;
                    }

                    &:after {
                        @include fa();
                        content: "\f111";
                        position: absolute;
                        font-size: 12px;
                        color: #839097;
                        top: 5px;
                        right: 0;
                    }

                    &.complete {
                        font-weight: bolder;
                        &:after {
                            color: green;
                        }
                    }
                }
            }
        }

        form div {
            background: white;
            padding: 30px 30px 30px 30px;
            button.form-submit {
                width: 100%;

                &.disabled {
                    background-color: $lightGrey;
                    background-image: url('../assets/pictos/arrow_grey.svg');
                    color: $mediumGrey;
                }
            }
        }
    }

    .supplier-form {
        float: left;
        width: 750px;
        margin-left: 60px;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;

        &.panel {
            box-shadow: none;
        }

        .panel-default {
            border: none !important;
        }

        .panel-body {
            padding: 0px;

            .supplier-form-fieldset,
            .supplier-form-container {
                padding: 30px;
                border: 0;
                border-radius: 0;
                margin-bottom: 30px;
                box-shadow: none;

                legend {
                    margin-bottom: 20px;
                    background-color: transparent;
                    border: 0;
                    padding: 0;

                    .panel-title {
                        font-size: 20px;
                        font-weight: 800;
                        color: $mediumGrey;
                        font-family: 'Raleway';
                    }
                }

                .panel-body {

                    .form-radios {
                        margin: 10px 0;
                    }

                    label {
                        font-size: 14px;
                        color: $darkGrey;
                    }

                    h1 {
                        font-size: 28px;
                    }

                    #key-contact-person {
                        margin-bottom: 20px;

                        & > .form-group {
                            & > .form-group {
                                padding-bottom: 20px;
                                border-bottom: 2px solid $orange;
                            }
                        }
                    }

                    span.disclaimer {
                        display: inline-block;
                        vertical-align: middle;
                        width: 70%;
                        padding-right: 60px;
                        //width: calc(100% - 180px);
                        color: $grey;
                    }

                    button {
                        display: inline-block;
                        vertical-align: middle;
                        float: right;
                        min-width: 0;
                        max-width: 30%;
                    }

                    button#edit-add-person,
                    button#edit-remove-person {
                        max-width: 100%;
                    }

                    // button#edit-remove-person {
                    //     margin-right: 20px;
                    // }

                    .form-type-radio {
                        margin-bottom: 15px;

                        label {
                            font-size: 14px;
                            color: $blue;
                        }
                    }

                    span.panel-subtitle {
                        font-size: 14px;
                        font-weight: 800;
                        color: $grey;
                        font-family: 'Raleway';
                        display: block;
                        margin-bottom: 20px;
                    }

                    // DAT SELECTOR !
                    div#key-contact-person > div > div[id^="edit-key-contact-person-"]:not([id^="edit-key-contact-person--"]),
                    div#shareholder > div > div[id^="edit-shareholder-"]:not([id^="edit-shareholder--"]),
                    div#license > div > div[id^="edit-license-"]:not([id^="edit-license--"]),
                    div#brand > div > div[id^="edit-brand-"]:not([id^="edit-brand--"]),
                    div#country > div > div[id^="edit-country-"]:not([id^="edit-country--"]),
                    div[id^="turnover-per-ally"] > div > div[id^="edit-country-"]:not([id^="edit-country--"]),
                    div#affiliate > div > div[id^="edit-affiliate-"]:not([id^="edit-affiliate--"]),
                    div#product-category > div > div[id^="edit-product-category-"]:not([id^="edit-product-category--"]),
                    div#human-resource > div > div[id^="edit-human-resource-"]:not([id^="edit-human-resource--"]),
                    div#production-capacity > div > div[id^="edit-production-capacity-"]:not([id^="edit-production-capacity--"]),
                    div#storage-capacity > div > div[id^="edit-storage-capacity-"]:not([id^="edit-storage-capacity--"]),
                    div#factory-detail > div > div[id^="edit-factory-detail-"]:not([id^="edit-factory-detail--"]) {
                        padding: 20px;
                        margin-bottom: 20px;
                        border: 2px dashed lightgrey;
                    }

                    .form-type-checkboxes {
                        display: inline-block;
                        vertical-align: text-top;
                        margin-right: 35px;
                        margin-bottom: 30px;
                    }

                    button[id^="edit-"]:not([id^="edit-submit"]) {
                        @include transition(all 500ms);
                        float: none;
                        min-width: 48%;
                        margin-right: 20px;
                        font-size: 0;
                        background: white;
                        border-radius: 0;
                        padding: 0;

                        &:before {
                            @include transition(all 500ms);
                            @include fa();
                            display: block;
                            text-align: center;
                            color: $orange;
                            font-size: 24px;
                        }

                        &:hover {
                            background: $lightGrey;

                            &:before {
                                color: $darkOrange;
                            }
                        }

                        &[id^="edit-remove"], &[id*="remove-turnover-per-ally"] {
                            margin: 0;

                            &:before {
                                content: "\f056";
                            }
                        }

                        &[id^="edit-add"]:before, &[id*="add-turnover-per-ally"]:before {
                            content: "\f055";
                        }
                    }

                    .form-item {
                        &.unit-type {
                            display: inline-block;
                            width: 80%;
                            padding-right: 15px;
                        }
                        &.measure-type {
                            display: inline-block;
                            min-width: 20%;
                            vertical-align: top;
                            margin-top: 25px;

                            label.control-label {
                                display: none;
                            }
                        }
                    }
                }

                .captcha {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border: 0;
                    box-shadow: none;
                    border-radius: 0;
                    margin-bottom: 30px;
                    border-bottom: 2px solid $orange;

                    .panel-title {
                        font-family: Raleway;
                    }
                }
            }
        }
    }

    #-main-supplier-general-information-form {
        #edit-fieldset-3 {
            #edit-product-subfamilies {
                column-count: 2;

                &>.panel-body>.form-item>label.control-label {
                    font-weight: bold;
                }
            }
        }
    }
}

@include respond-to(small) {
    body.page-supplier {
        #block-system-main {
            margin-top: 30px;
        }

        .supplier-bar,
        .supplier-form {
            width: 100%;
            margin: 0;
        }

        .supplier-form {
            margin-top: 60px;
        }
    }
}
