body {
    div.l-page.page-404 {
        background: url('../assets/img/404.jpg');
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center 90px;

        @include respond-to(tablet) {
            background-position: center 50px;
        }

        div.breadcrumb-container {
            background: rgba(255,255,255,0.7);
            border: none;
        }

        div.l-main {
            width: 1200px;
            margin: auto;
            margin-bottom: 100px;
            padding-left: 30px;
            padding-right: 30px;

            @include respond-to(small) {
                width: 100%;
            }

            div.l-content {
                background-color: white;
                margin-top: 20vw;
                padding: 30px;
                text-align: center;

                h1#title {
                    margin-top: 50px;
                    color: $blueText;

                    @include respond-to(mobile) {
                        margin-top: 30px;
                    }
                }

                a.button {
                    margin-top: 30px;
                    margin-bottom: 40px;
                    background-color: $orange;
                    background-image: url("../assets/pictos/arrow_white.svg");
                    color: white;

                    &:hover {
                        background-color: $darkOrange;
                    }
                }
            }
        }
    }
}
