.group-chronology {
    width: 750px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;

    .field-name-field-chronology-items-group,
    .field-name-field-chronology-items {
        & > .field-items > .field-item {
            background-color: white;
            border-left: 3px solid $orange;
            box-sizing: border-box;
            padding: 30px;
            margin-bottom: 5px;

            .field-name-field-year {
                font-weight: bold;
                font-size: 24px;
                color: $orange;
                margin-bottom: 15px;
            }

            .field-type-image {
                display: inline-block; //
            }

            .field-name-field-year-logo {
                margin-top: 15px;

                img {
                    max-height: 100px;
                    max-width: 100px;
                }
            }
        }
    }

    div.expander-button-wrapper {
        margin-top: 30px;
    }
}

@include respond-to(mobile) {
    .group-chronology {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 30px;

        .field-name-field-chronology-items-group,
        .field-name-field-chronology-items {
            & > .field-items > .field-item {
                padding: 20px;
            }
        }
    }
}
