.node-product.node-full {
    display: flex;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;

    .group-picture {
        width: 50%;
        box-sizing: border-box;
        padding: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        > .field-name-field-product-image {
            width:100%;
        }
    }

    .group-specs {
        width: 50%;
        box-sizing: border-box;
        padding: 30px;

        .field-label {
            font-weight: normal !important;
        }

        .field-name-title-field {
            margin-bottom: 15px;
        }

        .field-name-body {
            margin-bottom: 30px;
        }

        .field-name-field-product-moq-min-order-qty {
            color: grey;
            font-size: 18px;
            margin-bottom: -35px;
        }

        .field-name-field-product-fob-price {
            font-size: 18px;

            .field-items {
                color: $orange;
                font-weight: bold;
                font-size: 24px;
            }
        }

        .field-name-field-product-barcode {
            float: right;
            color: grey;
            background-image: url('../assets/pictos/barcode.svg');
            background-repeat: no-repeat;
            background-position: top center;
            background-size: 80px auto;
            min-width: 80px;
            padding-top: 45px;
        }

        .field-name-field-product-annual-sold {
            border-top: 1px solid $lightGrey;
            margin-top: 10px;
            color: grey;
            padding-top: 10px;
        }

        .field-name-field-product-quality-marks {
            margin-top: 10px;

            .field-label {
                margin-bottom: 5px;
            }
            .field-items {
                overflow: hidden;
                .field-item {
                    float: left;
                    width: 50px;
                    text-align: center;
                    border-radius: 8px;
                    border: 2px solid grey;
                    margin-right: 12px;
                    a {
                        color: grey;
                        font-size: 12px;
                        display: block;
                        text-decoration: none;
                        padding: 3px;
                    }

                }
            }
        }

        .field-name-field-product-signboard {
            padding-top: 15px;
            padding-bottom: 15px;
            color: grey;
            margin-bottom: 20px;

            .field-items {
                padding-left: 20px;

                .field-item {
                    display: list-item;
                    list-style-type: circle;
                }
            }
        }

        a.button {
            background-color: $orange;
            background-image: url('../assets/pictos/arrow_white.svg');
            color: white;
            margin-right: 10px;
            width: 250px;
        }

        .field-name-field-product-manager-email {
            display: inline-block;

            a {
                background-color: $orange;
                background-image: url('../assets/pictos/arrow_white.svg');
                color: white;
                transition: all 200ms ease-in;
                display: inline-block;
                text-decoration: none;
                border: none;
                text-align: left;
                padding: 15px;
                text-transform: uppercase;
                cursor: pointer;
                border-radius: 5px;
                width: 250px;
                background-repeat: no-repeat;
                background-position: center right 15px;
            }
        }
    }
}

#block-views-934e06916f595491eb708490e02da0d9 {
    margin-top: 40px;

    h2 {
        margin: 0;
        font-size: 20px;
    }
}

.view-products-in-the-same-category {
    margin-top: 20px;

    .view-content {
        overflow: hidden;
        width: 1010px;
        margin: auto;

        .views-row {
            float: left;
            margin-right: 30px;
            margin-bottom: 30px;

            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}

@include respond-to(small) {
    .node-product.node-full {
        .group-specs {
            a.button {
                display: block;
                margin-bottom: 10px;
            }

            .field-name-body {
                margin-bottom: 15px;
            }

            .field-name-field-product-moq-min-order-qty {
                margin-bottom: 5px;
            }

            .field-name-field-product-barcode {
                float: none;
                background-position: left top;
                margin-top: 0px;
                margin-bottom: 10px;
            }

            .field-name-field-product-manager-email {
                a {
                    display: block;
                }
            }
        }
    }

    #block-views-934e06916f595491eb708490e02da0d9 {
        margin-top: 0px;
    }

    .view-products-in-the-same-category {
        .view-content {
            width: 750px;
            margin: auto;

            .views-row {
                &:nth-child(3n) {
                    margin-right: 0 !important;
                }

                &:nth-child(4n) {
                    margin-right: 30px;
                }
            }
        }
    }
}

@include respond-to(tablet) {
    .node-product.node-full {
        display: block;

        .group-picture {
            float: none;
            width: 100%;
            padding: 20px;

            .field-name-field-product-image {
                width: 100%;
                img {
                    margin: auto;
                    width: 100%;
                }
            }
        }

        .group-specs {
            float: none;
            width: 100%;
            padding: 20px;
        }
    }

    .view-products-in-the-same-category {
        .view-content {
            width: 728px;
            .views-row {
                margin-right: 19px !important;
                margin-bottom: 19px !important;
            }
        }
    }
}

@include respond-to(mobile) {
    .node-product.node-full {
        .group-picture {
            padding: 10px;
        }

        .group-specs {
            padding: 10px;
        }
    }

    .view-products-in-the-same-category {
        .view-content {
            width: 230px;

            .views-row {
                margin-right: 0;
                margin-bottom: 10px;
                float: none;
            }
        }
    }
}
