.page-my-space-suppliers-directory- h1#title {
    display: none;
}

.node-supplier-profile.node-full {
    margin-top: 60px;

    &.arena-supplier {
        .group-main {
            background-image: url('../logo.svg');
            background-repeat: no-repeat;
            background-position: top 10px right 10px;
            background-size: 60px;
        }
    }

    .group-main {
        background-color: white;
        overflow: hidden;

        .group-main-header {
            padding: 30px;
            border-bottom: 2px solid $lightGrey;
            height: 200px;
            display: table;
            position: relative;
            width: 100%;

            & > a.arrow {
                position: absolute;
                right: 0px;
                margin-right: 100px;
            }

            .field-name-field-company-name {

                h1 {
                    line-height: 35px;
                    color: $blue;
                }
            }

            .field-name-field-company-logo {
                padding-right: 30px;
                display: table-cell;
                vertical-align: middle;

                img {
                    max-width: 140px;
                    max-height: 140px;
                }
            }

            .group-title-date {
                display: table-cell;
                vertical-align: middle;
                word-break: break-word;
                width: 100%;
            }

            .field-name-field-establishment-date {
                font-size: 16px;
                color: $orange;
                margin-top: 15px;

                .field-item {
                    line-height: 16px;
                }
            }
        }

        .group-main-details {
            padding: 30px;
            width: 330px;
            float: left;
            border-right: 2px solid $lightGrey;
            word-break: break-word;

            .field {
                margin-top: 15px;
                position: relative;

                &:before {
                    @include fa();
                    color: $orange;
                    font-size: 14px;
                    position: absolute;
                    line-height: 20px;
                }

                &:first-child {
                    margin-top: 0;
                }
            }

            .field-name-field-address {

                &:before {
                    content: "\f041";
                    left: 3px;
                }
            }

            .field-name-field-website {

                &:before {
                    content: "\f108";
                }
            }

            & > .field-name-field-phone {
                &:before {
                    content: "\f095";
                    left: 2px;
                }
            }

            .field-name-field-fax {
                &:before {
                    content: "\f1ac";
                }
            }

            .field-name-field-key-contact-person > .field-items > .field-item {

                &:before {
                    @include fa();
                    color: $orange;
                    font-size: 14px;
                    position: absolute;
                    line-height: 20px;
                    content: "\f007";
                }
            }

            .field-name-field-country {
                margin-top: 0;
            }

            & > .field > .field-items > .field-item {
                color: $blueText;
                font-weight: 800;
                padding-left: 25px;
            }

            & > .field.field-type-multifield {

                & > .field-items > .field-item {
                    padding-left: 0;
                    margin-top: 15px;

                    & > .field {
                        margin-top: 0px;
                        font-weight: normal;
                        padding-left: 25px;

                        &.field-name-field-person-title,
                        &.field-name-field-last-name,
                        &.field-name-field-first-name {
                            font-weight: 800;
                            display: inline-block;
                            padding-right: 3px;
                            padding-left: 0;
                        }

                        &:first-child {
                            padding-left: 25px;
                        }
                    }
                }
            }
        }

        .group-main-content {
            padding: 30px;
            float: left;
            width: calc(100% - 330px);
            color: $blueText;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .group-other-information {
        background-color: white;
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        overflow: hidden;

        .business {
            float: left;
            width: 50%;
        }

        .certifications {
            float: left;
            width: 50%;
        }
    }

    .group-key-figures {
        margin-top: 30px;
        margin-bottom: 30px;
        padding-top: 100px;
        padding-bottom: 100px;
        height: auto;

        .field-name-field-key-figures {
            margin: 0;

            &> .field-items > .field-item {
                .field-name-field-figure {
                    font-size: 40px;
                }

                .field-name-field-figure-suffix {
                    font-size: 40px;
                }
            }
        }
    }

    .group-other-information {
        h2 {
            color: $blueText;
            font-weight: 800;
            font-size: 28px;
            margin-top: 20px;

            &:first-child {
                margin-top: 0;
            }
        }

        h3 {
            color: $grey;
            font-size: 18px;
            margin-top: 10px;
        }

        div.table-wrapper {
            margin-bottom: 0 !important;
            margin-top: 30px;
        }
    }

    .suppliers-infos-details,
    .group-other-information {
        background: #fff;
        margin-top: 30px;

        .field-label {
            height: 80px;
            font-family: 'Raleway';
            font-weight: 800;
            color: $blue;
            font-size: 28px;
            line-height: 80px;
            cursor: pointer;
            padding: 0 80px 0 30px;
            display: block;
            position: relative;
            color: $blue;
            text-decoration: none;

            &:hover,
            &:active,
            &:visited,
            &:focus {
                color: $blue;
                text-decoration: none;
            }

            &:after {
                position: absolute;
                right: 30px;
                top: 25px;
                @include fa();
                content: "\f107";
            }
        }
        div.table-wrapper {
            margin-bottom: 50px;

            div.table-title {
                background-color: $blue;
                color: #fff;
                line-height: 14px;
                text-align: center;
                font-size: 14px;
                padding: 13px 10px;
            }

            table {
                width: 100%;
                border-bottom: 2px solid $lightGrey;

                td.total-label-cell,
                td.total-cell {
                    color: $orange;
                    font-weight: 700;
                }

                td.total-cell-right {
                    text-align: right;
                    padding-right: 20px;
                }

                tbody {

                    tr {

                        &:nth-child(odd) {
                            background-color: $lightGrey;
                        }

                        td, th {
                            line-height: 14px;
                            padding: 13px 10px;
                            color: $blueText;
                            font-weight: 700;
                            border-left: 2px solid $lightGrey;

                            &:first-child,
                            &.empty-cell {
                                border-left: none;
                            }
                        }

                        td {
                            &:first-child {
                                font-weight: 400;
                                &.total-cell {
                                    font-weight: 700;
                                }
                            }

                            span.certification_label {
                                display: inline-block;
                                margin-right: 20px;
                            }

                            span.quality-indicator {
                                display: block;
                                margin-bottom: 10px;

                                &:last-child {
                                    margin-bottom: 0;
                                }

                                span.additional-information {
                                    display: block;
                                    font-weight: 400;
                                    margin-top: 5px;
                                }
                            }

                            table {
                                border: none;
                                background-color: transparent !important;

                                tbody {
                                    tr {
                                        background-color: transparent !important;

                                        td {
                                            font-weight: 700;
                                            text-align: right;
                                            border: none;
                                            background-color: transparent !important;

                                            &:first-child {
                                                text-align: left;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.double-header{
                    thead {
                        tr {
                            td {
                                padding: 13px 10px;
                                border-left: 2px solid $lightGrey;
                                &:first-child {
                                    border-left: none;
                                    border-bottom: 2px solid $lightGrey;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                &:first-child {
                                    background: white;
                                    padding: 13px 10px;
                                    font-weight: 400;
                                    border-bottom: 2px solid $lightGrey;
                                }
                            }
                        }
                    }
                }
                &.top-header {
                    thead {
                        tr {
                            background: white;
                            td {
                                padding: 13px 10px;
                                border-left: 2px solid $lightGrey;

                                &:first-child {
                                    border-left: none;
                                }
                            }
                        }
                    }
                    tbody {
                        tr {
                            td {
                                font-weight: 700;
                            }
                        }
                    }
                }
            }
        }
        .field-items {
            border-top: 3px solid $lightGrey;
            padding: 30px 30px 0 30px;
            display: none;
        }
        &.open {
            .field-label {

                &:after {
                    content: "\f106";
                }
            }
            .field-items {
                display: block;
            }
        }
    }

    .field.field-name-field-market-client-information {
        .table-wrapper {
            & > table {
                margin-top: 35px;
                border-top: 5px solid $blue;

                tbody {
                    tr {
                        td {
                            width: 26%;

                            &:first-child {
                                width: 22%;
                            }
                        }
                    }
                }
                &.first-table {
                    margin-top: 0;
                    border-top: none;
                }
            }
        }
    }
}

@include respond-to(small) {
    .node-supplier-profile.node-full {
        margin-top: 30px;

        .group-main {
            .group-main-header {

                .field-name-field-company-logo {
                    float: none;
                    padding-right: 30px;

                    img {
                        max-width: 80px;
                        max-height: 80px;
                    }
                }
            }

            .group-main-details {
                width: 100%;
                border-right: none;
                border-bottom: 2px solid $lightGrey;
            }

            .group-main-content {
                width: 100%;
            }

        }

        .group-key-figures {
            margin-top: 30px;
            margin-bottom: 30px;
            padding-top: 100px;
            padding-bottom: 50px;
            height: auto;

            .field-name-field-key-figures {
                margin: 0;
            }
        }

        .suppliers-infos-details {

            .field-label {
                font-size: 22px;
            }

            .field-items {
                padding: 30px 15px 0 15px;

                div.table-wrapper {

                }
            }
        }
    }
}

@include respond-to(tablet) {
    .node-supplier-profile.node-full {
        margin-top: 20px;

        .group-main {
            .group-main-header {
                & > a.arrow {
                    display: none;
                }
            }
        }
    }
}

@include respond-to(mobile) {
    .node-supplier-profile.node-full {
        margin-top: 10px;

        &.arena-supplier {
            .group-main {
                background-size: 30px 27px;
            }
        }

        .group-main .group-main-header .field-name-field-company-name h1 {
            line-height: initial
        }
    }
}
