.file.file-private-documents {
  position: relative;
  width: 100%;
  border-top: 1px solid $grey;
  border-bottom: 1px solid $grey;
  padding: 10px;
  color: $grey;


  .field-name-filename-field {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 800;
    padding-right: 40px;
  }
  .created-date {
    text-transform: uppercase;
  }

  .format {
    text-transform: uppercase;
  }

  span.file {
    * {
      display: none;
    }

    a {
      text-indent: -999em;
      overflow: hidden;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -15px;
      margin-right: 15px;
      display: block;
      background-image: url('../assets/pictos/download.svg');
      background-size: auto 100%;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      transform-origin: 50% 50%;
      height: 30px;
      width: 30px;
      color: transparent;
    }
  }
}


@include respond-to(mobile) {
  .file.file-private-documents {

  }
}
