.breadcrumb-container {
  display: block;
  padding: 5px 0;
  border-bottom: 3px solid white;

  .breadcrumb {
    max-width: 1200px;
    display: block;
    padding-left: 30px;
    background-color: transparent;
    margin: auto;

    a {
      color: $breadcrumb;

      &:after {
        display: inline-block;
        vertical-align: middle;
        width: 16px;
        height: 6px;
        margin-left: 7px;
        margin-right: 7px;
        content: '';
        background-image: url("../assets/pictos/arrow_grey.svg");
      }
    }

    span.last {
      color: $breadcrumb;
    }
  }
}

.node-type-page-allies, .node-type-page-group, .node-type-ally {
  .breadcrumb-container{
    background-color: white;
    opacity: 0.7;
    .breadcrumb{
      background-color: transparent;
    }
  }
}

@include respond-to(mobile) {
  .breadcrumb-container {
    display: none;
  }
}
