body {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 20px;
  background-color: $lightGrey;

  h1#title {
    margin-top: 50px;
    margin-bottom: 30px;
  }
}

a {
    @include transition(all 200ms);
}

a.button {
    @include transition(all 200ms ease-in);
    display: inline-block;
    background-color: white;
    text-decoration: none;
    border: none;
    text-align: left;
    padding: 15px;
    color: #5D5D5D;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    width: 280px;
    background-image: url('../assets/pictos/arrow_grey.svg');
    background-repeat: no-repeat;
    background-position: center right 15px;

    &:hover, &:active {
        background-position: center right 10px;
        background-color: $darkOrange;
    }
}

a.expander-button {
    @include transition(all 200ms);
    display: block;
    width: 100%;
    padding: 20px 0;
    background: white;
    color: $orange;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    box-shadow: none;

    &:hover {
        box-shadow: 0 2px 4px 0px rgba(0,0,0,0.15);
    }

    &:active, &:focus {
        outline: none;
    }
}

a.arrow {
  @include transition(all 200ms ease-in);
  text-decoration: none;
  background-image: url("../assets/pictos/arrow_orange.svg");
  background-repeat: no-repeat;
  background-position: center right 5px;
  display: inline-block;
  padding-right: 30px;
  color: $orange;

    &:hover {
        background-position: center right;
        color: $darkOrange;
    }
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: transparent;
}

@include respond-to(mobile) {
  body {
    h1#title {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }
}

strong {
  font-weight: bold;
}
