@mixin fa() {
    font-family: FontAwesome;
    font-size: inherit;
    font-weight: normal;
    font-stretch: normal;
    font-variant: normal;
    font-style: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin respond-to($breakpoint) {
    @if $breakpoint == "small" {
        @media (max-width: 1200px) {
            @content;
        }
    }
    @else if $breakpoint == "tablet" {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint == "mobile" {
        @media (max-width: 767px) {
            @content;
        }
    }
}
