.tabs--primary {
  max-width: 1200px;
  display: block;
  padding-left: 30px;
  margin: auto;
  border: none;

  li {
    a {
      border: none !important;
      line-height: normal;
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

.view .pagination {
  li {
    a {
      color: $orange;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    &.active {
      span {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: $orange;
        color: white;
        border-color: $orange;
      }
    }
  }
}


@include respond-to(tablet) {
  .tabs--primary {
    display: none;
  }
}
